
body * {
  box-sizing: border-box;
}

.font-bold {
  font-weight: bold;
}

.position-relative {
  position: relative;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}
