@mixin lessThan($deviceWidth){
  @media screen and (max-width:#{$deviceWidth}){
    @content;
  }
}

@mixin bgCover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
