/**
* colors
**/

/**
* breakpoints
**/
$--breakpoints-xs: 600px;
$--breakpoints-sm: 960px;
$--breakpoints-md: 1264px;
$--breakpoints-lg: 1904px;
/* device */
$--breakpoints-mobile-xs: 320px;
$--breakpoints-tablet: 768px;
$--breakpoints-ipad-pro: 1024px;
